html {
  --color1: #ffffff;
  --color2: #f4dbdb;
  --color3: #94b6ef;
  --color4: #e68c3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f4dbdb;
}

* {
  box-sizing: border-box;
}

header {
  position: relative;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding-left: 1em;
  position: relative; /* Ny tilføjelse for at placere logo korrekt */
}

.logo-container {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: 30px; /* Juster højden efter behov */
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 4px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

nav {
  height: 100%;
}

.menu > li {
  margin: 0;
  padding: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.produkter {
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  margin: 3em;
}

.img {
  max-width: 100%;
}

.produkt_1 {
  padding: 3em;
}

.produkter_2 {
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  margin: 3em;
}
